transformers<5
torch
streamlit
pysrt
nltk
langdetect
sumy
tqdm
sentencepiece
tokenizers
huggingface-hub
sentence-transformers
rouge-score
bert-score
numpy
matplotlib
scenedetect
opencv-python
ultralytics
plotly